*{  box-sizing: border-box;}

/* .fourm {
  margin-top: 50px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  padding: 5px;
} */

/*Sidebar */
.sidebar{
  display:block;
  flex-wrap: wrap;
  width :30%;
}
/* First article*/
.article1{
  display:flex;
  height: auto;
  justify-content: center;
  width: auto;
  margin-bottom: 25px;
  border: 2px Gainsboro dashed;
  max-height: 450px;
}
.button {
  position: absolute;
  background-color: transparent;
  color: black;
  padding: 15px 35px;
  font-size: 25px;
  height: 60px;
  width: 23%;
  align-self: flex-end;
  font-weight: bold;
}
.button:hover {
  background-color: skyblue;
  color: white;
}
.sizebarImg{
  width: 100%;
}
input[type=text] {
  width: 100%;
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* 
============================================================================ 
                              Popup Create Post                                    
============================================================================  
*/


.postPopupButton {
  
  /* background-color: #4CAF50; */
  /* border: solid blue 2px; */
  color: white;
  width: 100%;
  margin-top: 1vh;
  display: inline-flex;
  justify-content: space-between;
}
.postPopupButton button {
  /* border: solid blue 2px; */
  color: white;
  height: 5vh;
  /* border: none; */
  cursor: pointer;
  width: 47%;
  /* display: inline-block; */
  padding: 0px;
}
.postPopupButton button:hover {
  opacity: 0.5;
}
.buttonCreate {
  background-color: #4CAF50;
}
.cancelbtn {
  background-color: #f44336;
}
/* 
.createText{
  width: 100%;
  height: 5vh;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  height: 40vh;
  margin-top: 1vh;
} */

 
.title, .createText{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  margin-top: 1vh;
} 
.createText {
  height: 40vh;
  text-indent: 2ch;

}
.title {
}
.container {
  /* border: solid 1px red; */
  /* padding: 16px; */
  /* margin-top: 1.5vh; */
  width: 100%;
}
.setBox {
  /* border: solid 15px blue; */
  display: none;
  position: fixed;
  /* Keep the pop up box from overlay other */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 10vh auto auto auto;
  width: 60%;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* 
============================================================================ 
                              Article 2 - slideshow                                    
============================================================================  
*/
.article2{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.titleSlides{
  background-color: skyblue;
  font-size: 25px;
}
.linkColor{
  color: white;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #000000;
  color: white;
}
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* third article css slideshow*/
.article3{
  height: auto;
  width: 100%;
  margin-bottom: 25px;
}

.text2{
  color: 	#000000;
  font-size: 20px;
  padding: 0px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.article4{
  border: 1px pink solid;
  width :100%;
  height: 400px;
  margin-bottom: 15px;
}
